.feedHeader {
  color: var(--white);
  background-color: var(--primary);
  position: relative;
  padding: 1.5rem 2rem;
  margin-bottom: 1.5rem;
}

.feedHeader h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: normal;
}

.feedHeader .logout {
  position: absolute;
  top: 0;
  right: 0;
  width: 4rem;
  height: 4rem;
  margin: 1rem;
  padding: 1rem;
  border-radius: 50%;
  background: var(--error);
}

.feedHeader .logout:hover {
  box-shadow: 0 0 1rem 1px var(--error);
}

.feedContainer {
  width: 90%;
  margin: auto;
  padding: 1rem 2rem;
  margin-bottom: 3rem;
  font-size: 1.2rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
}

.feedContainer .post {
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  background: var(--white);
  box-shadow: 0 0 1rem 0 var(--light_grey);
}
